.header {
  color: white;
  display: flex;
  padding: 20px;

  /*align-items: flex-start | flex-end | center | baseline | stretch*/
  align-items: center;

  /* justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly */
  justify-content: space-between;

  /* background-color: rgb(21, 22, 85); */
  overflow-x: scroll;
}

/*Hide scrollbar for chrome, safari, Opera*/
.header::-webkit-scrollbar {
  display: none;
}
/*Hide scrollbar for IE, Edge, Firefox*/
.header {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.header__icon > .MuiSvgIcon-root {
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

.header__icon--active > p {
  display: inline-flex !important;
}
.header__icon:hover > p {
  display: inline;
}
.header__icon > p {
  display: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
}
.header__icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100px;
}
.header__icons {
  display: flex;
  align-items: center;
  text-align: center;
}

.header > img {
  object-fit: contain;
  height: 80px;
}
